{% extends "dwebcms/index.html" %}
{% block webRight %}
<div class=" content-area">
	<div class="page-header">
		<h4 class="page-title">栏目列表</h4>
  </div>
	<div class="row row-deck">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">所有市局栏目</h3>
				</div>
				<div class="card-body">
					<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
            {% for dj_lanmu in dj_lanmus %}
  						<div class="panel panel-default mt-2">
  							<div class="panel-heading" role="tab" id="leftList{{ dj_lanmu.pk }}">
  								<h4 class="panel-title">
  									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#lanmu{{ dj_lanmu.pk }}" aria-expanded="false" aria-controls="lanmu{{ dj_lanmu.pk }}">
  										{{ dj_lanmu.name }}

  									</a>
  								</h4>
  							</div>
  							<div id="lanmu{{ dj_lanmu.pk }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="leftList{{ dj_lanmu.pk }}">
                  <div class="card-body">
  									<ul class="list-group">
                      {% for sub_lanmu in dj_lanmu.get_sub_lanmu  %}
                        <li class="list-group-item justify-content-between">
    										{{ sub_lanmu.name }}
    										<span class="badgetext badge badge-danger badge-pill">
                          <a href="{% url '删除子栏目' sub_lanmu.pk %}" style="color:#fff;font-weight: 500;">删除该栏目</a>
                        </span>
    										</li>
                      {% empty %}
                        <li class="list-group-item justify-content-between">
                        无下级
                        </li>
                      {% endfor %}
                    </ul>
  								</div>
  							</div>
  						</div>
            {% empty %}
              <div class="panel panel-default mt-2">
                <div class="panel-heading" role="tab" id="leftListNone">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#lanmuNone" aria-expanded="false" aria-controls="lanmuNone">
                      无栏目
                    </a>
                  </h4>
                </div>
              </div>
            {% endfor %}
					</div><!-- panel-group -->
				</div>
			</div>
		</div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">所有机构栏目</h3>
          
        </div>
        <div class="card-body">
          <div class="panel-group1" id="accordion2">
            {% for jigou in jigous %}
            {% if jigou.name != "临汾市局" %}
              <div class="panel panel-default mb-4">
              <div class="panel-heading1 ">
                <h4 class="panel-title1">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#jigou{{ jigou.pk }}" aria-expanded="false">{{ jigou.name }}</a>
                </h4>
              </div>
              <div id="jigou{{ jigou.pk }}" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                <div class="card-body">
                  <ul class="list-group">

                      {% for sub_lanmu in jigou.get_sub_lanmu %}
                      <li class="list-group-item justify-content-between">
                      {{ sub_lanmu.name }}
                      <span class="badgetext badge badge-danger badge-pill">
                        <a href="{% url '删除子栏目' sub_lanmu.pk %}" style="color:#fff;font-weight: 500;">删除</a>
                      </span>
                      {% if jigou.is_xianju %}
                        {% if sub_lanmu.is_zhiding %}
                          <span class="badgetext badge badge-success badge-pill">
                            <a href="{% url 'zhiding' sub_lanmu.pk %}" style="color:#fff;font-weight: 500;">取消置顶</a>
                          </span>
                        {% else %}
                          <span class="badgetext badge badge-danger badge-pill">
                            <a href="{% url 'zhiding' sub_lanmu.pk %}" style="color:#fff;font-weight: 500;">置顶</a>
                          </span>
                        {% endif %}
                        
                      {% endif %}
                      </li>
                      {% empty %}
                        <li class="list-group-item justify-content-between">
                        无子栏目
                        </li>
                      {% endfor %}

                  </ul>
                </div>
              </div>

            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
