{% extends "shiju/index.html" %}

{% block content %}
    <!-- 内容页内容 -->
    <div class="ui vertical basic segment" style="margin-top: 40px;">
      <div class="ui two column stackable grid container" >
        <div class="thirteen wide column" style="background:#fff;">
          <div class="ui secondary pointing menu">
            <a class="active item wow fadeInLeftBig" style="color:#008854;">
              <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
               {{ item.biaoti }}
            </a>

          </div>

          <div class="ui segment container wow fadeInUp">
            <h1 class="center aligned ui header">{{ item.biaoti }}</h1>
            <i class="icon grey unhide"></i>
            <span style="color:#bbbbbb">126</span>
            <span class="" style="color:rgb(226, 226, 226)">|</span>
            <i class="icon grey checkmark"></i>
            <span style="color:#bbbbbb">88 点赞</span>
            <div class="ui divider"></div>
            <p>
              <img src="/media/{{ item.file }}" alt="">
              {% autoescape off %}
              {{ item.neirong }}

              {% endautoescape %}
            </p>
            <div class="ui divider"></div>
          </div>
          <div class="center aligned ui vertical segment wow fadeInUp">
            <div class="ui buttons">
              {% if pre %}
              <a href="{% url 'artical' pre.pk %}" class="ui button">上一篇</a>
              {% else %}
              <a href="{% url 'articallist' item.lanmu.pk %}" class="ui button">返回栏目</a>
              {% endif %}
              <div class="or"></div>
              {% if next %}
              <a href="{% url 'artical' next.pk %}" class="ui positive button">下一篇</a>
              {% else %}
              <a class="ui positive button">没有了</a>
              {% endif %}
            </div>
          </div>

        </div>
        <div class="three wide column wow fadeInRight">
          <div class="ui vertical inverted green menu">
            <div class="item">
              <div class="ui input"><input type="text" placeholder="搜索..."></div>
            </div>
            <div class="item">栏目列表
              <div class="menu">
                <a class="active item">领导班子</a>
                <a class="item">党建工作</a>
                <a class="item">规章制度</a>
                <a class="item">办事公开</a>
              </div>
            </div>
            <a class="item"><i class="grid layout icon"></i> 动态新闻 </a>
            <a class="item">通知信息 </a>
            <div class="ui dropdown item">更多 <i class="dropdown icon"></i>
            </div>
          </div>
        </div>


      </div>
    </div>



    <!-- end 内容页内容 -->
{% endblock content %}
