{% extends "shiju/index.html" %}

{% block content %}
    <!-- 列表页内容 -->

    <div class="ui vertical basic segment" style="margin-top: 40px;">
      <div class="ui two column stackable grid container" >


        <div class="ten wide column" style="background:#fff;">
          <div class="ui secondary pointing menu">
            <a class="active item wow fadeInLeftBig" style="color:#008854;">
              <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
               临烟动态
            </a>
            <div class="right menu">
              <div class="ui breadcrumb" style="margin-top: 20px;">
                <a class="section">首页</a>
                <div class="divider"> / </div>
                <a class="section">临烟动态</a>
              </div>
            </div>
          </div>

          <div class="ui bulleted list wow fadeInUp">
            {% if articals %}
              {% for item in articals %}
              <div class="item">
                <a href="{{ item.get_absolute_url }}">{{ item.biaoti }}</a>
                <span>{{ item.fabiao_riqi|date:'Y-m-d'}}</span>
              </div>
              {% endfor %}
            {% else %}
              <p>
                无内容
              </p>
            {% endif %}
          </div>


          <div class="center aligned ui vertical segment">
              <div class="ui pagination menu">
                <a href="" class="item">
                  <i class="icon green left caret"></i>
                </a>
                <a href="" class="active item" style="background-color: #008854; color:white">1
                </a>
                <a href="" class="item" style="color:#000;">2
                </a>
                <a href="" class="item" style="color:#000;">3
                </a>
                <a href="" class="item" style="color:#000;">4
                </a>
                <a href="" class="item">
                  <i class="icon right caret"></i>
                </a>

                      <!-- <a href="?page={{ article_list.paginator.num_pages }}" class="disabled item">
                          <i class="icon  right caret"></i>
                      </a> -->
              </div>
          </div>
      </div>
      <div class="six wide column" >
          <div class="ui secondary pointing menu">
              <a class="active item wow fadeInLeftBig" style="color:red;">
                <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
                 大家都在看
              </a>
          </div>

          <div class="ui segment wow fadeInUp">
            <div class="ui list">
              {% if articals %}
                {% for item in articals %}
                <a class="item" href="artical.html">
                  <i class="right triangle icon"></i>
                  <div class="content">
                      {{ item.biaoti }}...
                  </div>
                </a>
                {% endfor %}
              {% else %}
                <p>
                  无内容
                </p>
              {% endif %}
            </div>
          </div>

      </div>
      
    </div>
  </div>
</div>
</div>

    <!-- end 列表页内容 -->
{% endblock %}