{% extends "shiju/index.html" %}

{% block content %}
    <!-- 列表页内容 -->

    <div class="ui vertical basic segment" style="margin-top: 40px;">
      <div class="ui two column stackable grid container" >


        <div class="ten wide column" style="background:#fff;">
          <div class="ui secondary pointing menu">
            <a class="active item wow fadeInLeftBig" style="color:#008854;">
              <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
               {{ lanmu.name }}
            </a>
            <div class="right menu">
              <div class="ui breadcrumb" style="margin-top: 20px;">
                <a href="/" class="section">首页</a>
                <div class="divider"> / </div>
                <a class="section">{{ lanmu.name }}</a>
              </div>
            </div>
          </div>

          <div class="ui bulleted list wow fadeInUp">
              {% for item in articals %}
              <div class="item">
                <a href="{% url 'artical' item.pk %}">{{ item.biaoti }}</a>
                <span>{{ item.fabiao_riqi|date:'Y-m-d'}}</span>
              </div>
              {% endfor %}
          </div>


          <div class="center aligned ui vertical segment">
              <div class="ui pagination menu">
                {% if articals.has_previous %}
                <a href="?page={{ articals.previous_page_number }}" class="item" tabindex="-1">
                  <i class="icon green left caret"></i>
                </a>
                {% else %}
                <a href="" class="item">
                  <i class="icon left caret"></i>
                </a>
                {% endif %}

                {% for page_number in articals.paginator.page_range %}
                    {% ifequal page_number  articals.number %}
                    <a href="?page={{ page_number }}" class="active item" style="background-color: #008854; color:white">{{ page_number }}
                    </a>
                    {% else %}
                    <a href="?page={{ page_number }}" class="item">{{ page_number }}
                    </a>
                    {% endifequal %}
                {% endfor %}

                {% if  articals.has_next %}
                <a href="?page={{ articals.next_page_number }}" class="item">
                  <i class="icon green right caret"></i>
                </a>
                {% else %}
                <a href="" class="item">
                  <i class="icon right caret"></i>
                </a>
                {% endif %}
              </div>
          </div>
      </div>
      <div class="six wide column" >
          <div class="ui secondary pointing menu">
              <a class="active item wow fadeInLeftBig" style="color:red;">
                <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
                 大家都在看
              </a>
          </div>

          <div class="ui segment wow fadeInUp">
            <div class="ui list">
                {% for item in dajia %}
                <a class="item" href="{% url 'artical' item.pk %}">
                  <i class="right triangle icon"></i>
                  <div class="content">
                      {{ item.biaoti }}...
                  </div>
                </a>
                {% endfor %}

            </div>
          </div>

      </div>

    </div>
  </div>
</div>
</div>

    <!-- end 列表页内容 -->
{% endblock %}
