{% extends "shiju/index.html" %}
{% block content %}
  <!-- 科室页面内容 -->

  <div class="ui vertical basic segment" style="margin-top: 40px;">
    <div class="ui grid container">
      <div class="ui breadcrumb">
        <a class="section">主页</a>
        <span class="divider">/</span>
        <a class="section">市局各科室</a>
        <span class="divider">/</span>
        <div class="active section">{{item.name}}</div>
      </div>

    </div>
    <div class="ui two column stackable grid container" >

      <div class="three wide column">
        <div class="ui vertical inverted green menu">
          <div class="item">
            <div class="ui input">
              <form method="GET" action="{% url 'keshi' item.pk %}">
                <input name='q' type="text" value="{{ request.GET.q }}" placeholder="搜索...">
              </form>
            </div>
          </div>
          {% for fixed_lanmu in fixed_keshi_list %}
            <a class="item">{{ fixed_lanmu.name }}</a>
          {% endfor %}
          <div class="item">联系方式
            <div class="menu">
            <a class="item">电话:{{item.telephone}}</a>
            <a class="item">邮箱:{{item.email}}</a>
            </div>
          </div>
        </div>
      </div>

      {% if results %}
        <div class="thirteen wide column" style="background:#fff;">
          <div class="ui secondary pointing menu">
            <a class="active item" style="color:#008854;">
              <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
               {{item.name}}(搜索结果)
            </a>
            <div class="right menu">
              <div class="ui breadcrumb" style="margin-top: 20px;">
                <a class="section">编辑</a>
                <div class="divider"> / </div>
                <a class="section">更多</a>
              </div>
            </div>
          </div>

          <div class="ui bulleted list">
              {% for artical in results %}
                {% if artical in item.get_all_undelete_articals %}
                    <div class="item">
                      <a href="{{artical.get_absolute_url}}">{{artical.biaoti}}</a>
                      <span>{{artical.fabu_riqi|date:'Y-m-d'}}</span>
                    </div>
                {% endif %}
                
              {% endfor %}
          </div>
      {% else %}
        {% for lanmu in item.get_sub_lanmu %}
          {% if lanmu not in fixed_keshi_list %}
            <div class="thirteen wide column" style="background:#fff;">
              <div class="ui secondary pointing menu">
                <a class="active item" style="color:#008854;">
                  <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
                   {{lanmu.name}}({{item.name}})
                </a>
                <div class="right menu">
                  <div class="ui breadcrumb" style="margin-top: 20px;">
                    <a class="section">编辑</a>
                    <div class="divider"> / </div>
                    <a class="section">更多</a>
                  </div>
                </div>
              </div>

              <div class="ui bulleted list">
                  {% for artical in lanmu.get_first_ten_articals %}
                    <div class="item">
                      <a href="{{artical.get_absolute_url}}">{{artical.biaoti}}</a>
                      <span>{{artical.fabu_riqi|date:'Y-m-d'}}</span>
                    </div>
                  {% endfor %}
              </div>
          {% endif %}
        {% endfor %}  
      {% endif %}
          
      </div>
    </div>
  </div>

  <!-- 科室页面内容 -->
  
{% endblock  %}
