{% extends "shiju/index.html" %}
{% block content %}

  <!-- 科室样式2-页面内容 -->

  <div class="ui vertical basic segment" style="margin-top: 40px;">
    <div class="ui three column stackable grid container" style="background:#fff;">
      <div class="four wide column wow fadeInUp">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="ui fluid image" src="img/keshibanner.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img class="ui fluid image" src="img/keshibanner.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img class="ui fluid image" src="img/keshibanner.jpg" alt="">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>

        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             上级精神
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财务通知
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="four wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财务科例会工作安排
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财务管理科工作动态
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财务管理公告
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="four wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财务管理科简报
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             县局主要指标参考
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财务管理规章制度
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="sixteen wide column wow fadeInUp">
        <img class="ui fluid image" src="img/caiwubanner.jpg" alt="">

      </div>

      <div class="sixteen wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财税政策通知公告
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩国家局党组召开党组(扩国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩国家局党组召开党组(扩国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议国家局党组召开党组会议国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组党的十九大后国家局党组党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属2018烟草行业个各直属2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属2018烟草行业个各直属2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩国家局党组召开党组(扩国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩国家局党组召开党组(扩国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>

      </div>

      <div class="four wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             班前半小时
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>

      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财务知识
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>

      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财务管理意见箱
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>

      </div>

      <div class="four wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             财务常用软件下载
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>

      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             用友NC动态
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>

      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             管理经验大家谈
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- end 科室样式2-页面内容 -->  
{% endblock content %}
 