{% extends "shiju/index.html" %}
{% block content %}
  <!-- 科室页面内容 -->

  <div class="ui vertical basic segment" style="margin-top: 40px;">
    <div class="ui grid container">
      <div class="ui breadcrumb">
        <a class="section">主页</a>
        <span class="divider">/</span>
        <a class="section">市局各科室</a>
        <span class="divider">/</span>
        <div class="active section">办公室</div>
      </div>

    </div>
    <div class="ui two column stackable grid container" >

      <div class="three wide column">
        <div class="ui vertical inverted green menu">
          <div class="item">
            <div class="ui input"><input type="text" placeholder="搜索..."></div>
          </div>
          <a class="item">机构职能</a>
          <a class="item">工作制度</a>
          <a class="item">计划规划</a>
          <a class="item">部门动态</a>
          <div class="item">联系方式
            <div class="menu">
            <a class="item">电话:2010143</a>
            <a class="item">邮箱:bgs@sx-lf.com.yc</a>
            </div>
          </div>
        </div>

      </div>

      <div class="thirteen wide column" style="background:#fff;">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             会议组织(办公室)
          </a>
          <div class="right menu">
            <div class="ui breadcrumb" style="margin-top: 20px;">
              <a class="section">编辑</a>
              <div class="divider"> / </div>
              <a class="section">更多</a>
            </div>
          </div>
        </div>

        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>

        </div>

        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             会议报道(办公室)
          </a>
          <div class="right menu">
            <div class="ui breadcrumb" style="margin-top: 20px;">
              <a class="section">编辑</a>
              <div class="divider"> / </div>
              <a class="section">更多</a>
            </div>
          </div>
        </div>

        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>

        </div>

        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             依申请公开
          </a>
          <div class="right menu">
            <div class="ui breadcrumb" style="margin-top: 20px;">
              <a class="section">编辑</a>
              <div class="divider"> / </div>
              <a class="section">更多</a>
            </div>
          </div>
        </div>

        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- 科室页面内容 -->
  
{% endblock  %}
