{% extends "shiju/index.html" %}

{% block content %}
    <!-- 列表页内容 -->

    <div class="ui vertical basic segment" style="margin-top: 40px;margin-bottom: 25px;">
      <div class="ui grid container" >

        <div  style="background:#fff;padding: 10px;">
          <div class="ui secondary pointing menu">
            <a class="active item wow fadeInLeftBig" style="color:#008854;">
              <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
               领导班子
            </a>
            <div class="right menu">
              <div class="ui breadcrumb" style="margin-top: 20px;">
                <a class="section">首页</a>
                <div class="divider"> / </div>
                <a class="section">领导班子</a>
              </div>
            </div>
          </div>

          <div class="ui segment container wow fadeInUp" style="min-height: 350px;">
            <ul>
                <li>党组书记、局长、经理：姚宏</li>
                <li>副局长：刘平</li>
                <li>副经理：周满超</li>
                <li>副经理、纪检组长：孙国红</li>
                <li>副经理、工会主席：牛宏宾</li>
                <li>总会计师：王金奎</li>
            </ul>
          </div>
      </div>
      </div>
    </div>

    <!-- end 列表页内容 -->
{% endblock %}
    
