{% extends "shiju/index.html" %}

{% block content %}
  
    <!-- 列表页内容 -->

    <div class="ui vertical basic segment" style="margin-top: 40px;">
      <div class="ui two column stackable grid container" >
        <div class="three wide column">
          <div class="ui vertical inverted green menu">
            <div class="item">
              <div class="ui input"><input type="text" placeholder="搜索..."></div>
            </div>
            <div class="item">栏目列表
              <div class="menu">
                <a class="active item">领导班子</a>
                <a class="item">党建工作</a>
                <a class="item">规章制度</a>
                <a class="item">办事公开</a>
              </div>
            </div>
            <a class="item"><i class="grid layout icon"></i> 动态新闻 </a>
            <a class="item">通知信息 </a>
            <div class="ui dropdown item">更多 <i class="dropdown icon"></i>
            </div>
          </div>
        </div>

        <div class="thirteen wide column" style="background:#fff;">
          <div class="ui secondary pointing menu">
            <a class="active item" style="color:#008854;">
              <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
               企业文化理念
            </a>
            <div class="right menu">
              <div class="ui breadcrumb" style="margin-top: 20px;">
                <a class="section">首页</a>
                <div class="divider"> / </div>
                <a class="section">临烟动态</a>
                <div class="divider"> / </div>
                <div class="active section">企业文化理念</div>
              </div>
            </div>
          </div>

          <div class="ui bulleted list">
            <div class="item">
              <a href="artical.html">国家局党组召开党组(扩国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">国家局党组召开党组(扩国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">国家局党组召开党组会议国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">党的十九大后国家局党组国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">2018烟草行业个各直属国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">2018烟草行业个各直属国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">国家局党组召开党组(扩国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">国家局党组召开党组(扩国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">国家局党组召开党组会议国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">党的十九大后国家局党组国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">2018烟草行业个各直属国家局党组召开党组(扩...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">李克强对2018世界生命科学大会做出重要批示...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">人民大会堂这条走廊只有几十米,但浓缩了中日友好和经贸合作40年...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">李克强和日本首相安倍晋三共同出席首届中日第三方市场合作论坛...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">李克强和日本首相安倍晋三共同会见记者...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">李克强和日本首相安倍晋举行会谈...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">日历|推动中日关系在重回正轨基础上行稳致远...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">孙春兰在辽宁调研...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">魏凤和与出席北京香山论坛客人会见会谈...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">王毅会见日本外相河野太郎...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">赵克志与孟加拉国内政部部长阿萨杜扎曼·汗举行会谈...</a>
              <span>2018-11-11</span>
            </div>
            <div class="item">
              <a href="artical.html">首届中日第三方市场合作论坛上，李克强与安倍都说了什么...</a>
              <span>2018-11-11</span>
            </div>
          </div>

        <div class="center aligned ui vertical segment">
          <div class="ui pagination menu">
            <a href="" class="item">
              <i class="icon green left caret"></i>
            </a>
            <a href="" class="active item" style="background-color: #008854; color:white">1
            </a>
            <a href="" class="item" style="color:#000;">2
            </a>
            <a href="" class="item" style="color:#000;">3
            </a>
            <a href="" class="item" style="color:#000;">4
            </a>
            <a href="" class="item">
              <i class="icon right caret"></i>
            </a>

                  <!-- <a href="?page={{ article_list.paginator.num_pages }}" class="disabled item">
                      <i class="icon  right caret"></i>
                  </a> -->
          </div>
        </div>
      </div>





      </div>
    </div>

    <!-- end 列表页内容 -->
{% endblock  %}
