{% extends "shiju/index.html" %}
{% block content %}
  <!-- 县局内容 -->
  <div class="ui vertical basic segment" style="margin-top: 40px;">
    <div class="ui three column stackable grid container" style="background:#fff;">
      <div class="four wide column wow fadeInUp">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="ui fluid image" src="img/xianju.png" alt="">
            </div>
            <div class="swiper-slide">
              <img class="ui fluid image" src="img/xianju.png" alt="">
            </div>
            <div class="swiper-slide">
              <img class="ui fluid image" src="img/xianju.png" alt="">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>

        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             县局动态
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             县局例会
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="four wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             公示公告
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             局发文件
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             通知信息
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="sixteen wide column wow fadeInUp">
        <img class="ui fluid image" src="img/xianju2.png" alt="">

      </div>

      <div class="four wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             专卖
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             队伍形象
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             营销
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="four wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             绩效考核
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             一线风采
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             学习园地
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="four wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             规章制度
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             政策信息
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

      <div class="six wide column wow fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             安全常识
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组会议...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">党的十九大后国家局党组...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">2018烟草行业个各直属...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
          <div class="item">
            <a href="artical.html">国家局党组召开党组(扩...</a>
            <span>2018-11-11</span>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- end 县局内容 -->  
{% endblock  %}