{% extends "shiju/index.html" %}
{% load static %}

{% block content %}

  <!-- 县局内容 -->
  <div class="ui vertical basic segment" style="margin-top: 40px;">
    <div class="ui three column stackable grid container" style="background:#fff;">
      <div class="column fadeInUp">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="ui fluid image" src="/static/shiju/img/xianju.png" alt="">
            </div>
            <div class="swiper-slide">
              <img class="ui fluid image" src="/static/shiju/img/xianju.png" alt="">
            </div>
            <div class="swiper-slide">
              <img class="ui fluid image" src="/static/shiju/img/xianju.png" alt="">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>

        </div>
      </div>


{% for fixed_lanmu in fixed_lanmu_list %}

      <div class="column fadeInUp">
        <div class="ui secondary pointing menu">
          <a class="active item" style="color:#008854;">
            <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
             {{ fixed_lanmu }}
          </a>
          <div class="right menu">
            <a class="ui item" style="color:#008854;">编辑</a>
            <a href="{{fixed_lanmu.get_absolute_url}}" class="ui item" style="color:#008854;">更多</a>
          </div>
        </div>
        <div class="ui bulleted list">
          {% for artical in fixed_lanmu.get_first_ten_articals %}
            <div class="item">
              <a href="artical.html">{{ artical.biaoti }}</a>
              <span>{{ artical.fabiao_riqi|date:'Y-m-d' }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
{% endfor %}

      <div class="sixteen wide column wow fadeInUp">
        <img class="ui fluid image" src="/static/shiju/img/xianju2.png" alt="">

      </div>
    {% for lanmu_item in item.get_sub_lanmu %}
      {% if lanmu_item not in fixed_lanmu_list %}
        <div class="column fadeInUp">
            <div class="ui secondary pointing menu">
              <a class="active item" style="color:#008854;">
                <i class="fa fa-caret-right" aria-hidden="true" style="margin-right: 5px;color:#008854;"></i>
                 {{ lanmu_item.name }}
              </a>
              <div class="right menu">
                <a class="ui item" style="color:#008854;">编辑</a>
                <a href="{{lanmu_item.get_absolute_url}}" class="ui item" style="color:#008854;">更多</a>
              </div>
            </div>
            <div class="ui bulleted list">
              {% for artical in lanmu_item.get_first_ten_articals %}
                <div class="item">
                  <a href="artical.html">{{ artical.biaoti }}</a>
                  <span>{{ artical.fabiao_riqi|date:'Y-m-d' }}</span>
                </div>
              {% endfor %}
            </div>
          </div>
      {% endif %}

    {% endfor %}


    </div>

  </div>

  <!-- end 县局内容 -->


  {% endblock  %}
